@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color:rgb(225, 248, 237)}

.swiper-button-next:after,
.swiper-button-prev:after{
    color: #527c7d;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    background: #527c7d !important
}

html::-webkit-scrollbar{
    display: none;
}

html{
    scrollbar-width: none;
}